.CodeMirror .cm-spell-error:not(.cm-url):not(.cm-tag):not(.cm-word) {
     text-decoration-line: underline;
     text-decoration-style: wavy;
     text-decoration-color: red;
     /* For Chrome */
     text-decoration-skip-ink: none;
}